body {
    color: #888da8;
    /* height: 100%; */
    font-size: 14px;
    background: #e9ecef;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: .0312rem;
}

input:-webkit-autofill,
/* input:-webkit-autofill:hover,  */
/* input:-webkit-autofill:focus, */
textarea:-webkit-autofill,
/* textarea:-webkit-autofill:hover, */
/* textarea:-webkit-autofill:focus, */
select:-webkit-autofill
/* select:-webkit-autofill:hover, */
/* select:-webkit-autofill:focus  */
{
  border: 1px solid none;
  -webkit-text-fill-color: none;
  font-size: 14px;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
    background-color: transparent;
}
span[role=alert]{
color:red
}
